.footer{ font-size: 80%; position: absolute; bottom: 1rem; }

@media (min-width: 24rem) {
    .footer{ position: relative; bottom: 0; margin-top: 5px; }
}

.sidebar {padding: 1.0rem; }
.sidebar h1{margin: 0 ; padding: 0}
.sidebar-about p{font-size: 1.0rem}
.sidebar-nav li { margin: 5px 0; }
.sidebar .social-nav {font-size: 1.5rem}
.content{ padding-top: 1rem; }

time{ font-size: 80%;    font-style: italic; font-weight: normal; padding-top: 5px; }

#search{margin:20px 0}
#___gcse_0 .cse .gsc-control-cse,
#___gcse_0 .gsc-control-cse,
#___gcse_0 .cse form.gsc-search-box,
#___gcse_0 form.gsc-search-box,
#___gcse_0 table.gsc-search-box { padding: 0; margin: 0; border: 0 }
#___gcse_0 {margin: 5px 0}

/*.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input,
.gsc-search-button {padding: 0; background:none; border: none}
/*.gsc-search-button*/
.gsc-clear-button {display: none}
/*.cse .gsc-input {padding: 0; background:none; border: none; font-size: 200%}*/

.logo-circle {    width: 128px; height: 128px;}
.logo { background: white; padding: 10px}

.author-bio {min-height: 90px}
.author-bio img.pull-left {margin: 0px 20px 0 0; max-height: 80px; border-radius: 40px}
.author-bio .social-nav a {color: #202020; margin-left: 5px}
.author-bio .social-nav  {font-size: 25px; margin-top: 2px; line-height: 25px; height: 25px}
.author-bio h4{margin-top: 0; display: inline-block}
.author-bio p{font-size: 80%;}
.clear{clear: both}

.post img {
  box-shadow: 0 0 2px #ccc;
  margin: 5px;
  /*-webkit-box-shadow: 0 0  1px #ccc;*/
  /*-moz-box-shadow: 0 0 1px #ccc;*/
}

.post-meta { font-size: 80%; display: block;  margin-top: -0.25rem; margin-bottom: 1rem; color: #9a9a9a;}

.post-meta a:not(:last-child)::after {content: ",";}

ol.posts,
ul.posts { margin-top: 25px}
ol.posts li,
ul.posts li{margin: 10px 0; }
