.social-nav{
    font-size: 150%;
}

.footer{
    font-size: 80%;
    position: absolute;
    bottom: 1rem;
}

@media (min-width: 24rem) {
    .footer{
        position: relative;
        bottom: 0;
        margin-top: 5px;
    }
    .sidebar-nav {
        /*display: inline-block;*/
        /*position: relative;
        margin-left: 0 auto;

        left: 33%;
        text-align: left;*/
    }
    .sidebar-nav li{
        /*width: 80%;
        margin: 0 auto;*/
        /*display: inline-block;
        text-align: left;*/
    }
}

.sidebar-about h1{
    margin-top: 15px;
    font-size: 1.5rem;
}

.sidebar-about p{font-size: 1.0rem}

.content{
    padding-top: 1rem;
}

time{
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
    padding-top: 5px;
}

/*.gsc-search-box-tools .gsc-search-box {background: none; border: none;}
.gsc-search-box-tools .gsc-search-box .gsc-input { padding: 2px 5px }*/
#___gcse_0 .cse .gsc-control-cse,
#___gcse_0 .gsc-control-cse,
#___gcse_0 .cse form.gsc-search-box,
#___gcse_0 form.gsc-search-box,
#___gcse_0 table.gsc-search-box { padding: 0; margin: 0; border: 0 }
#___gcse_0 {margin: 5px 0}

/*.cse table.gsc-search-box td.gsc-input,
table.gsc-search-box td.gsc-input,
.gsc-search-button {padding: 0; background:none; border: none}
/*.gsc-search-button*/
.gsc-clear-button {display: none}
/*.cse .gsc-input {padding: 0; background:none; border: none; font-size: 200%}*/

.logo-circle {    width: 128px; height: 128px;}
.logo { background: white; padding: 10px}

/*.author-bio {background: #f9f9f9; }*/
.author-bio img.pull-left {margin-right: 20px; max-height: 128px}
.author-bio .social-nav a {color: #202020; margin-left: 5px}
.author-bio .social-nav  {font-size: 25px; margin-top: 2px; line-height: 25px; height: 25px}
.author-bio h4{margin-top: 0; display: inline-block}
.author-bio p{font-size: 80%;}
.clear{clear: both}

.post img {
  box-shadow: 0 0 2px #ccc;
  margin: 5px;
  /*-webkit-box-shadow: 0 0  1px #ccc;*/
  /*-moz-box-shadow: 0 0 1px #ccc;*/
}

.navbar-brand img{
    max-height: 40px;
}
