{{ template "theme/partials/head.html" . }}

            {{ $current_author := index .Params.author 0}}
            {{ $this_author := index .Site.Params.Devils $current_author }}
                    {{range $key, $val := $this_author }}
                            {{$key}} => {{ $val }} <br/>
                    {{end}}
            <a href="/author/{{$current_author}}">{{$current_author}}</a>

            <h1>{{ .Title }}</h1>

            <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>  by
            <span class="post-date">{{ $current_author  }}</span>

            {{ .Content }}

{{ template "theme/partials/footer.html" . }}
