<!-- for blog posts  -->

<!--include common header -->
{{ partial "head.html" . }}

<div class="content container">
  <div class="post">
    <h1>{{ .Title }}</h1>

    <span class="post-meta"><em>Published on</em> {{ .Date.Format "Jan 2, 2006" }}
      <em>by</em>
      <a href="/author/{{.Params.author}}">{{.Params.author}}</a>
    </span>
    {{ partial "adsense.html" . }}
    {{ .Content }}
    <span class="post-meta">Tags: {{range .Params.tags}} <a href="/tags/{{. | urlize }}">{{.}}</a> {{end}}</span>
    <span class="post-meta">Categories: {{range .Params.categories}} <a href="/categories/{{. | urlize }}">{{.}}</a>{{end}}</span>
    <hr/>
    <!--include authorbio-->
    {{ $.Scratch.Set "author_username" .Params.author }}
    {{ partial "authorbio.html" . }}
    <hr/>
    {{ partial "disqus.html" . }}
  </div>
</div>

<!--include common sidebar -->
{{ partial "sidebar.html" . }}
<!--include common footer -->
{{ partial "footer.html" . }}
