{{ template "theme/partials/head.html" . }}
<body>

  <div class="content container">
        <h1>Posts by {{ .Title }}</h1>
            {{ $author_name := .Title | lower}}
            {{ $current_author := index .Site.Params.Devils $author_name }}
            {{range $key, $val := $current_author }}
                    {{$key}} => {{ $val }} <br/>
            {{end}}

  <ul class="posts">
      {{ range .Data.Pages }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
  </ul>

  </div>

{{ template "theme/partials/sidebar.html" . }}
{{ template "theme/partials/footer.html" . }}
