<!--include common header -->
{{ partial "head.html" . }}

{{ $current_author := .Title | lower}}
{{ $.Scratch.Set "author_username" $current_author }}
<div class="content container">

  {{ partial "authorbio.html" . }}

  <hr class="clear" />

  <h2>Posts by {{$.Scratch.Get "author_display_name"}}</h2>

  <ol class="posts">
    {{ range .Data.Pages }}
    <li class="clear"><a href="{{ .Permalink }}">{{ .Title }}</a>
      <time class="pull-right post-list">{{ .Date.Format "Jan 2, 2006" }}</time>
    </li>
    {{end}}
  </ol>
    
</div>

<!--include common sidebar -->
{{ partial "sidebar.html" . }}
<!--include common footer -->
{{ partial "footer.html" . }}
