<!-- homapge -->

<!--include common header -->
{{ partial "head.html" . }}

<div class="content container">

  <h1>Welcome To Devils' Workshop! <i class='fa fa-smile-o'></i></h1>
  <p>This blog is <i>now</i> hosted on Github and you can edit any post on this site!</p>
  <p>Feel free to read a blog post below or check links in sidebar on left <i class='fa fa-hand-o-left'></i></p>
  {{ partial "adsense.html" . }}  
  <h2>Recent Posts</h2>

  <ol class="posts">
    {{ range first 10 (where .Data.Pages "Section" "posts") }}
    <li class="clear"><a href="{{ .Permalink }}">{{ .Title }}</a>
      <time class="pull-right post-list">{{ .Date.Format "Jan 2, 2006" }}</time>
    </li>
    {{end}}
  </ol>

</div>

<!--include common sidebar -->
{{ partial "sidebar.html" . }}
<!--include common footer -->
{{ partial "footer.html" . }}
