{{ template "theme/partials/head.html" . }}

{{ $current_author := .Title | lower}}
{{ $this_author := index .Site.Params.Devils $current_author }}

  <div class="content container">
        <h1><i class="fa fa-user"></i> {{ with $this_author.realname}} {{.}} {{else}} {{$current_author}} {{end}}</h1>
        <span class="post-date"><a href="/author/">Back to parent</a></span>
        <hr/>
        {{ template "theme/partials/authorbio.html" . }}
        <hr class="clear"/>
  <ul class="posts">
      {{ range .Data.Pages }}
      {{ if eq .Section "post" }}
      <li class="clear" ><a style="width:70%" href="{{ .Permalink }}">{{ .Title }}</a><time class="pull-right post-list">{{ .Date.Format "Jan 2, 2006" }}</time></li>
      {{end}}
      {{end}}
  </ul>

  </div>

{{ template "theme/partials/footer.html" . }}
