{{ template "theme/partials/head.html" . }}
<body>

    <div class="content container">
        <div class="post">
            {{ $current_author := index .Params.author 0}}
            {{ $this_author := index .Site.Params.Devils $current_author }}
                    {{range $key, $val := $this_author }}
                            {{$key}} => {{ $val }} <br/>
                    {{end}}
            <a href="/author/{{$current_author}}">{{$current_author}}</a>
            <h1>{{ .Title }}</h1>
                {{ .Content }}
        </div>
    </div>

{{ template "theme/partials/sidebar.html" . }}
{{ template "theme/partials/footer.html" . }}
