{{ template "theme/partials/head.html" . }}
<body>

{{ $current_author := index .Params.author 0}}
{{ $this_author := index .Site.Params.Devils $current_author }}

    <div class="content container">
        <div class="post">
            <h1>{{ .Title }}</h1>
            <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}  <em>by</em>
                <a href="/author/{{$current_author}}">{{$current_author}}</a>
            </span>
            <span class="post-date">Tags: {{range .Params.tags}} <a href="/tags/{{. | urlize }}">{{.}}</a>,{{end}}</span>
            <span class="post-date">Categories: {{range .Params.categories}} <a href="/categories/{{. | urlize }}">{{.}}</a>,{{end}}</span>    
            {{ .Content }}
            <hr/>
            {{ template "theme/partials/authorbio.html" . }}
            <hr/>
        </div>
    </div>

{{ template "theme/partials/sidebar.html" . }}
{{ template "theme/partials/footer.html" . }}
