<!--include common header -->
{{ partial "head.html" . }}

<div class="content container">
  <h1>{{ .Title }} </h1>
  {{ partial "adsense.html" . }}
  <ol class="posts">
    {{ $data := .Data }} {{ range $key, $value := .Data.Terms.ByCount }}
    <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}"> {{ $value.Name }} </a> ({{ $value.Count }}) </li>
    {{ end }}
  </ol>

</div>

<!--include common sidebar -->
{{ partial "sidebar.html" . }}
<!--include common footer -->
{{ partial "footer.html" . }}
