<!-- <div class="breadcrumbs-container" xmlns:v="http://rdf.data-vocabulary.org/#"\><ul class="breadcrumb"><li class="active">
	<span prefix="v: http://rdf.data-vocabulary.org/#">
		<span typeof="v:Breadcrumb"><a href="https://rtcamp.com" rel="v:url" property="v:title">Home</a></span> / <span typeof="v:Breadcrumb"><a href="https://rtcamp.com/tutorials/" rel="v:url" property="v:title">Tutorials</a></span> / <span typeof="v:Breadcrumb"><a href="https://rtcamp.com/tutorials/mysql/" rel="v:url" property="v:title">Mysql</a></span> / <span typeof="v:Breadcrumb"><span class="breadcrumb_last" property="v:title">Reset MySQL root password</span></span>
	</li></ul></div>    </div>	 -->
