<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>

<!-- Google Custom Search -->
  <script>
    (function() {
      var cx = '{{.Site.Params.google_cse}}';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <!-- Google Custom End -->

  <!-- CSS -->
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/poole.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/syntax.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/hyde.css">
  <link rel="stylesheet" href="{{ .Site.BaseUrl }}/css/custom.css">

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- RSS -->
  <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

    <!-- START: SEO/Social Meta. -->

    <link rel="canonical"       href="{{.Permalink}}" />
    <meta property="og:url"     content="{{.Permalink}}" />
    <meta name="twitter:url"    content="{{.Permalink}}"/>

    {{if .Params}}
        {{with .Params.excerpt}}
            <meta name="description"        content="{{.}}"/>
            <meta property="og:description" content="{{.}}"/>
        {{end}}

        {{ $current_author := index .Params.author 0}}
        {{ $this_author := index .Site.Params.Devils $current_author }}

        {{with $this_author.google_plus}}<link rel="author"              href="{{.}}"/>    {{end}}
        {{with $this_author.twitter}}    <meta name="twitter:creator"    content="{{.}}"/> {{end}}
        {{with $this_author.facebook}}   <meta property="article:author" content="{{.}}" />{{end}}
        <meta property="og:type" content="article" />
        {{ range .Params.tags }}        <meta property="article:tag" content="{{.}}" />
        {{ end }}
        {{ range .Params.categories }}  <meta property="article:section" content="{{.}}" />
        {{ end }}
    {{else}}
        <meta property="og:type" content="website" />
    {{end}}


    {{with .Site.Params.googleplus_publisher}}<link rel="publisher" href="{{.}}"/>{{end}}

    <meta property="og:locale" content="en_US" />

    <meta name="twitter:card" content="summary"/>
    {{with .Site.Params.twitter_handle}}<meta name="twitter:site" content="{{.}}"/>{{end}}

    <meta name="twitter:domain"     content="{{.Site.Title}}"/>
    <meta property="og:site_name"   content="{{.Site.Title}}" />

    {{with .Params.featured_image}}<meta name="twitter:image:src" content="{{.}}"/>{{end}}
    {{with .Params.excerpt}}<meta name="twitter:description" content="{{.}}"/>{{end}}

    {{with .Params.title}}
        <meta name="twitter:title" content="{{.}}"/>
        <meta property="og:title" content="{{.}}" />
    {{end}}




    <meta property="article:published_time" content="{{.Params.date}}" />
    <meta property="article:modified_time" content="{{.Params.date}}" />
    <meta property="og:updated_time" content="{{.Params.date}}" />
    <!-- END: SEO/Social Meta. -->

  </script>
</head>
